{% extends 'master.dashboard.html' %}

{% block body %}
{% set counter = 1 %}

<!-- <script src="/javascripts/speechrecognition.js"></script>
<script src="/javascripts/BingSpeech.js" type="text/javascript"></script> -->

<form action="{% if formdata.abc_id %}{{ path_for('abcDone', { abc_id: abc.abc_id }) }}{% else %}{{ path_for('abcNew') }}{% endif %}" method="post">
    <div class="row">
        <div class="col-sm-6">
            <h4 class="mb-3">{{ title }}</h4>
        </div>
        <div class="col-sm-6 mb-2 ml-auto text-right">
            <a class="btn btn-outline-primary" href="{{ path_for('abc') }}" role="button">Back to ABC</a>
            <button class="btn btn-primary" type="submit">Publish</button>
        </div>
    </div>
    <div class="card mb-5">
        <div class="card-block">
            <div class="tab-content">
                <!-- Begin Plan Details Pane -->
                <div class="tab-pane active" id="tab1" role="tabpanel">
                    <ul class="nav nav-tabs nav-justified" role="tablist">
                        {% for key, group in group_items %}
                        <li class="nav-item">
                            <a class="nav-link {% if group_items|first == group %}active{% endif %}" data-toggle="tab"
                               href="#{{key}}" role="tab">{{ group }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                    <div class="tab-content">
                        {% for key, group in group_items %}
                        <div class="tab-pane card-block plan-details {% if group_items|first == group %}active{% endif %}"
                             id="{{key}}" role="tabpanel">
                            {% if key == 'description' %}
                            <!-- BEGIN Basic Plan Details -->
							<div class="form-group row">
								<div class="col-12">
									<h5>Antecedent, Behaviour and Consequence</h5>
									The ABC method is an approach which teachers use to understand children’s behaviour. It can be a good tool to understand challenging behaviour. The ‘Antecedent’ is what happens before the unwanted or challenging behaviour occurs. The ‘Behaviour’ is exactly what the child does and says, while the ‘Consequence’ is what happens as a result of the behaviour displayed by the child. The ABC method can be done over a period of days or weeks to fully understand why a child is behaving in an unwanted manner. It can aid teachers in exploring and identifying what strategies may be used to help a child. It is normally done in time intervals. For example, you may observe the child’s behaviour every 30 minutes for 5 hours (i.e. at 9:00 am then at 9:30 am…10:00 am etc.).
								</div>
							</div>

                            <!-- Pick associations -->
                            <div class="card-block">
                                {% for id, name in types %}
                                <label class="custom-control custom-radio">
                                    <input name="abc_type" type="radio"
                                           class="custom-control-input weeklyPlan-type" value="{{ id }}" {% if (id==
                                    'school' and formdata.abc_assoc == '') or formdata.abc_assoc == id %}checked{% endif %}
                                    required>
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">{{ name }}</span>
                                </label>
                                {% endfor %}
                            </div>

                            <!-- Association tabs -->
                            <div id="schoolForm" style="display: block;">
                                <div class="form-group row">
                                    <div class="col-8">
                                        ABC for entire school
                                    </div>
                                </div>
                            </div>

                            <div id="childForm" style="display: none;">
                                <h4>Select Child(ren)</h4>
                                {% for room in rooms %}
                                <h5 class="mb-0">{{ room.room_name }}</h5>
                                <h6 class="mb-4 text-muted">{{ room.room_description }}</h6>
                                <ul class="list-group mb-4">
                                    {% for child in children if child.room_id == room.room_id %}
                                    <li class="list-group-item">
                                        <label class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" name="child[]"
                                                   value="{{ child.child_id }}"
                                                   {% if formdata.abc_assoc== 'child' %}
                                            {% if child.child_id in formdata.child %}checked{% endif %}
                                            {% endif %}>
                                            <span class="custom-control-indicator" style="margin-top: 0.5rem;"></span>
                                            <span class="custom-control-description"><img class="rounded-circle mr-2"
                                                                                          width="35" height="35"
                                                                                          src="{{ child.child_avatar_url|default('/images/avatar.png') }}"
                                                                                          alt="Child image"> <strong>{{ child.child_name }}</strong></span>
                                        </label>
                                    </li>
                                    {% endfor %}
                                </ul>
                                {% endfor %}
                            </div>

                            <div id="roomForm" style="display: none;">
                                <h4>Select Room(s)</h4>
                                {% for room in rooms %}
                                <h5 class="mb-0">{{ room.room_name }}</h5>
                                <h6 class="mb-0 text-muted">{{ room.room_description }}</h6>
                                <label class="custom-control custom-checkbox mb-4">
                                    <input type="checkbox" class="custom-control-input" name="room[]"
                                           value="{{ room.room_id }}"
                                           {% if formdata.abc_assoc== 'room' %} {% if room.room_id in formdata.room
                                    %}checked{% endif %} {% endif %}>
                                    <span class="custom-control-indicator" style="margin-top: 0.5rem;"></span>
                                </label>
                                {% endfor %}
                            </div>
                            <!-- End Pick Associations -->
                            <!-- END Basic Plan details section -->
							{% endif %}
                            {% if key == 'method' %}
	
                            <div class="row">
                                <div class="col-12 text-right">
                                    <a href="" data-toggle="tooltip" class="add-learning-opportunity-btn"
                                       id="{{key}}-block">
                                        <span class="fa-stack fa-lg">
                                            <i class="fa fa-circle fa-stack-2x"></i>
                                            <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </a>
                                </div>
                            </div>
							
                            <div class="form-group" id="{{key}}-block-container">
								{% for block in blocks %}
								<div class="card-block">
									<div class="form-group row">
										<input type="hidden" name="day-blocks[{{ counter }}][day]"
                                               value="' + append_block_id[0] +'">
										<label class="col-12 col-sm-4 col-form-label">Date</label>
										<div class="col-12 col-sm-8">
											<input class="form-control methodParam" type="date"
											name="day-blocks[{{ counter }}][date]"
											id="' + append_block_id[0] +'-date"
											value="{{ block.date }}" placeholder="{{ date }}" required>
										</div>
									</div>
									
									<div class="form-group row">
										<label class="col-12 col-sm-4 col-form-label">Time (24-Hours)</label>
										<div class="col-12 col-sm-8">
											<input class="form-control methodParam" type="time"
											name="day-blocks[{{ counter }}][time]"
											id="' + append_block_id[0] +'-time"
											value="{{ block.time }}" placeholder="{{ time }}" required>
										</div>
									</div>
									
									<div class="form-group row">
										<label class="col-12 col-sm-4 col-form-label">Antecedents</label>
										<div class="col-12 col-sm-8">
											<textarea class="form-control methodParam"
											name="day-blocks[{{ counter }}][antecedents]"
											id="' + append_block_id[0] +'-antecedents"
											rows="3" maxlength="512">{{ block.antecedents }}</textarea>
										</div>
									</div>
									
									<div class="form-group row">
										<label class="col-12 col-sm-4 col-form-label">Behaviour</label>
										<div class="col-12 col-sm-8">
											<textarea class="form-control methodParam" 
											name="day-blocks[{{ counter }}][behaviour]"
											id="' + append_block_id[0] +'-behaviour"
											rows="3" maxlength="512">{{ block.behaviour }}</textarea>
										</div>
									</div>
									
									<div class="form-group row">
										<label class="col-12 col-sm-4 col-form-label">Consequence(s)</label>
										<div class="col-12 col-sm-8">
											<textarea class="form-control methodParam" 
											name="day-blocks[{{ counter }}][consequence]"
											id="' + append_block_id[0] +'-consequence"
											rows="3" maxlength="512">{{ block.consequence }}</textarea>
										</div>
									</div>
									<button class="btn btn-danger btn-sm btn-delete"
									role="button"
									data-toggle="modal"
									data-target="#deleteModal">Delete</button>
								</div>
								{% set counter = counter + 1 %}
                                {% endfor %}
                            </div>
							
                            {% endif %}
                            {% if key == 'comment' %}
							
							<div class="form-group" id="{{key}}-block-container">
								<div class="form-group row">
									<label class="col-12 col-sm-4 col-form-label">Comment</label>
									<div class="col-12 col-sm-8">
                                        <!-- <button onclick="recordspeech('method_comment','mcspa')" type="button" class="uploadcare--widget__button uploadcare--widget__button_type_open tiny"><i class="fa fa-microphone"></i>  Record Speech</button>
                                        <button onclick="stopspeech()" type="button" class="uploadcare--widget__button uploadcare--widget__button_type_open tiny"><i class="fa fa-stop-circle"></i> Stop</button>
                                        <img class="voice_detect hidden" id="mcspa"  src="/images/waiting.gif" alt="Waiting gif"> -->
                                        <textarea id="method_comment" class="form-control commentParam" name="method_comment" rows="3" maxlength="512" >{{ formdata.abc_comment }}</textarea>
									</div>
								</div>
							</div>
							
							{% endif %}
                        </div>
                        {% endfor %}
                    </div>

                </div>
                <!-- END Plan Details Pane -->

                <!-- Begin Emerging Interests Pane -->
                <div class="tab-pane" id="tab2" role="tabpanel">
                    <h5>Coming soon!</h5>
                </div>
            </div>
        </div>
    </div>


    <script>
        var counter = {{ counter }};
        var imgcounter = 0;
        function reset(selectedType) {
            var recordTypes = ['school', 'room', 'child'];

            recordTypes.forEach(function (type) {
                if (type == selectedType) {
                    $('#' + type + 'Form').show();
                    $('.' + type + 'Param').attr("disabled", false);
                } else {
                    $('#' + type + 'Form').hide();
                    //$('.' + type + 'Param').attr("disabled", true);
                }
            })
        }

        $(document).ready(function () {
            reset($("input[name='abc_type']:checked").attr('value'))
        });

        $("input[name='abc_type']").click(function () {
            reset(this.value)
        });
		
        $(".plan-details").on("click", ".btn-delete", function (e) {
            e.preventDefault();

            $(this).closest(".card-block").remove();
        });

        $(".plan-details").on("click", ".add-learning-opportunity-btn", function (e) {
            e.preventDefault();
            imgcounter++;
            var append_block_id = this.id.split("-");
            var record = '<button onclick="recordspeechbn(&apos;{id}&apos;,&apos;{imgid}&apos;)" type="button" class="uploadcare--widget__button uploadcare--widget__button_type_open tiny" style=""><i class="fa fa-microphone"></i>  Record Speech</button>';
            record += '<button onclick="stopspeech()" type="button" class="uploadcare--widget__button uploadcare--widget__button_type_open tiny" style=""><i class="fa fa-stop-circle"></i> Stop</button>';
            record +='<img class="voice_detect hidden" id="{imgidd}"  src="/images/waiting.gif" alt="Waiting gif">';
            
            var textareaid = 'day-blocks[' + counter + '][antecedents]';
            var imgid = "img1" + imgcounter;
            var addrecord = record.replace("{id}",textareaid).replace("{imgid}",imgid).replace("{imgidd}",imgid);
            imgcounter++;
            textareaid = 'day-blocks[' + counter + '][behaviour]';
            var imgid = "img1" + imgcounter;
            var addrecordf = record.replace("{id}",textareaid).replace("{imgid}",imgid).replace("{imgidd}",imgid);
            imgcounter++;
            textareaid = 'day-blocks[' + counter + '][consequence]';
            var imgid = "img1" + imgcounter;
            var addrecordm = record.replace("{id}",textareaid).replace("{imgid}",imgid).replace("{imgidd}",imgid);
            $("#" + append_block_id[0] + "-block-container").append(
                               '<div class="card-block">\n' +
									'<div class="form-group row">\n' +
										'<input type="hidden" name="day-blocks[' + counter + '][day]"' +
                                               'value="' + append_block_id[0] +'">' +
										'<label class="col-12 col-sm-4 col-form-label">Date</label>' +
										'<div class="col-12 col-sm-8">' +
											'<input class="form-control methodParam" type="date" ' +
														'name="day-blocks[' + counter + '][date]" ' +
														'id="' + append_block_id[0] +'-date"' +
														'value="{{ block.abc_date }}" placeholder="{{ date }}" required>' +
										'</div>' +
									'</div>' +
									
									'<div class="form-group row">' +
										'<label class="col-12 col-sm-4 col-form-label">Time (24-Hours)</label>' +
										'<div class="col-12 col-sm-8">' +
											'<input class="form-control methodParam" type="time" ' +
														'name="day-blocks[' + counter + '][time]"' +
														'id="' + append_block_id[0] +'-time"' +
														'value="{{ block.abc_time }}" placeholder="{{ time }}" required>' +
										'</div>' +
									'</div>' +
									
									'<div class="form-group row">' +
										'<label class="col-12 col-sm-4 col-form-label">Antecedents</label>' +
										'<div class="col-12 col-sm-8">'+
											'<textarea class="form-control methodParam" ' +
														'name="day-blocks[' + counter + '][antecedents]"' +
														'id="' + append_block_id[0] +'-antecedents"' +
														'rows="3" maxlength="512">' +
														'{{ block.abc_antecedents }}' +
											'</textarea>' +
										'</div>' +
									'</div>' +
									
									'<div class="form-group row">' +
										'<label class="col-12 col-sm-4 col-form-label">Behaviour</label>' +
										'<div class="col-12 col-sm-8">' + 
											'<textarea class="form-control methodParam" ' + 
														'name="day-blocks[' + counter + '][behaviour]"' +
														'id="' + append_block_id[0] +'-behaviour"' +
														'rows="3" maxlength="512">' +
														'{{ block.abc_behaviour }}' +
											'</textarea>' +
										'</div>' +
									'</div>' +
									
									'<div class="form-group row">' +
										'<label class="col-12 col-sm-4 col-form-label">Consequence(s)</label>' +
										'<div class="col-12 col-sm-8">' + 
											'<textarea class="form-control methodParam" ' + 
														'name="day-blocks[' + counter + '][consequence]"' +
														'id="' + append_block_id[0] +'-consequence"' +
														'rows="3" maxlength="512">' +
														'{{ block.abc_consequence }}' +
											'</textarea>' +
										'</div>' +
									'</div>' +
                '<button class="btn btn-danger btn-sm btn-delete" ' +
                'role="button" ' +
                'data-toggle="modal" ' +
                'data-target="#deleteModal">Delete</button>\n' +
                '</div>\n'
            );

            counter++;
        });

    </script>

    <input type="hidden" name="week" value="{{ week }}" />
    <input type="hidden" name="year" value="{{ year }}" />

    <input type="hidden" name="{{ csrf.keys.name }}" value="{{ csrf.name }}">
    <input type="hidden" name="{{ csrf.keys.value }}" value="{{ csrf.value }}">
</form>
{% endblock %}