{% extends 'master.dashboard.html' %}

{% block body %}
<h4 class="mb-5">{{ title }}</h4>
<div class="card mb-4">
    <div class="card-header">
        General Information
    </div>
    <div class="card-block">
        <dl class="row">
            <dd class="col-md-8 offset-md-4">
                <div class="media">
                    <img class="rounded-circle d-flex mr-3" width="100" height="100" src="{{ school.school_avatar_url|default('/images/school.png') }}" alt="School image">
                    <div class="media-body">
                        <h4>{{ school.school_name }}</h4>
                        <small>
                            {% if school.school_type == 'P' %}Private Setting{% endif %}
                            {% if school.school_type == 'C' %}Community Setting{% endif %}
                        </small>
                    </div>
                </div>
            </dd>
        </dl>
        <dl class="row">
            <dt class="col-md-4">Type of Pre-School:</dt>
            <dd class="col-md-8">
                {% for category in categories %}
                    {% if school.category_id == category.category_id %}
                        {{ category.category_name }}<br>
                        <small>{{ category.category_description }}</small>
                    {% endif %}
                {% endfor %}
            </dd>
        </dl>
        <dl class="row">
            <dt class="col-md-4">Created at:</dt>
            <dd class="col-md-8">
                {{ school.created_at }}
            </dd>
        </dl>
        <dl class="row">
            <dt class="col-md-4">Updated at:</dt>
            <dd class="col-md-8">
                {{ school.updated_at }}
            </dd>
        </dl>
        <dl class="row">
            <dt class="col-md-4">Stripe customer ID:</dt>
            <dd class="col-md-8">
                {{ school.stripe_id }}
            </dd>
        </dl>
    </div>
</div>
<div class="card mb-4">
    <div class="card-header">
        Address
    </div>
    <div class="card-block">
        <dl class="row">
            <dt class="col-md-4">Phone:</dt>
            <dd class="col-md-8">
                {{ school.school_phone }}
            </dd>
        </dl>
        <dl class="row">
            <dt class="col-md-4">Street Address:</dt>
            <dd class="col-md-8">
                {{ school.school_street }}
            </dd>
        </dl>
        <dl class="row">
            <dt class="col-md-4">City/Town:</dt>
            <dd class="col-md-8">
                {{ school.school_city }}
            </dd>
        </dl>
        <dl class="row">
            <dt class="col-md-4">Postal Code:</dt>
            <dd class="col-md-8">
                {{ school.school_postal_code }}
            </dd>
        </dl>
        <dl class="row">
            <dt class="col-md-4">Country:</dt>
            <dd class="col-md-8">
                {% for country in countries %}
                    {% if school.country_id == country.country_id %}
                        {{ country.country_name }}
                    {% endif %}
                {% endfor %}
            </dd>
        </dl>
    </div>
</div>
<div class="card mb-4">
    <div class="card-header">
        Associated Teachers
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Full Name</th>
                <th>Email Address</th>
                <th>Permission</th>
                <th>Created</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>
                        <strong><a href="{{ path_for('adminUserDetails', { user_id: user.user_id }) }}">{{ user.user_first_name }} {{ user.user_last_name }}</a></strong>
                        {% if user.status == 'P' %}
                            <span class="badge badge-danger">Unconfirmed</span>
                        {% endif %}
                    </td>
                    <td>
                        {{ user.user_email }}
                        {% if user.user_status == 'P' %}
                            <span class="badge badge-danger">Unconfirmed</span>
                        {% endif %}
                    </td>
                    <td>
                        {% if user.role == 1 %}
                            <span class="badge badge-info">Administrator</span>
                        {% else %}
                            <span class="badge badge-default">Normal</span>
                        {% endif %}
                    </td>
                    <td>{{ user.created_at }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
