{% extends 'master.dashboard.html' %}

{% block body %}
<div class="row mb-3">
    <div class="d-none d-lg-block col-12 col-lg-6 mt-2">
        <form class="form-inline mb-4" action="{{ path_for('attendanceInsightsChildren') }}" method="get">
            <div class="form-group ml-auto">
                <label class="mr-2" for="search">Search child by name</label>
                <div class="d-inline-block mr-2">
                    <input class="form-control" type="text" name="search" id="search" maxlength="64" placeholder="Enter a name" required>
                </div>
                <div class="d-inline-block">
                    <button class="btn btn-outline-primary" type="submit">Go</button>
                </div>
            </div>
        </form>
    </div>
    <div class="d-block d-lg-none col-12 mt-4">
        <form class="mb-4" action="{{ path_for('attendanceInsightsChildren') }}" method="get">
            <div class="input-group mb-3">
                <input type="text" class="form-control col-11" name="search" id="search" placeholder="Search child by name" aria-label="Search child by name" aria-describedby="basic-addon1" required>
                <div class="input-group-append ml-2">
                    <button class="btn btn-outline-primary" type="submit">Go</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% if children %}
    {% for room in rooms %}
        <h4 class="mb-0">{{ room.room_name }}</h4>
        <h6 class="mb-4 text-muted">{{ room.room_description }}{% if school_user.role == 1 %} <a class="text-muted" href="{{ path_for('roomEdit', { room_id: room.room_id }) }}"><i class="fa fa-pencil-square" aria-hidden="true"></i></a>{% endif %}</h6>
        <div class="row d-flex flex-wrap mb-5">
            {% for child in children if child.room_id == room.room_id %}
                <div class="d-none d-lg-block col-4 col-lg-3">
                    <div class="card align-self-stretch mb-4">
                        <div class="card-block text-center">
                            <a href="{{ path_for('childDetails', {child_id: child.child_id}) }}">
                                <img class="rounded-circle" width="50%" src="{{ child.child_avatar_url|default('/images/avatar.png') }}" alt="Child image">
                            </a>
                            <h5 class="mt-2">
                                <a href="{{ path_for('childDetails', {child_id: child.child_id}) }}">{{ child.child_name }}</a>
                                {% if child.child_gender == 'M' %}
                                    <span class="fa-stack fa-sm">
                                        <i class="fa fa-circle fa-stack-2x badge-male"></i>
                                        <i class="fa fa-mars fa-stack-1x fa-inverse"></i>
                                    </span>
                                {% endif %}
                                {% if child.child_gender == 'F' %}
                                    <span class="fa-stack fa-sm">
                                        <i class="fa fa-circle fa-stack-2x badge-female"></i>
                                        <i class="fa fa-venus fa-stack-1x fa-inverse"></i>
                                    </span>
                                {% endif %}
                            </h5>
                            <p><a href="{{ path_for('attendanceInsightsReport', {'year': current_year, 'month': current_month, 'child_id': child.child_id}) }}" class="btn btn-sm btn-info">Attendance Calendar</a></p>
                        </div>
                    </div>
                </div>
                <div class="d-block d-lg-none col-12">
                        <ul class="list-group mb-4">
                            <li class="list-group-item" style="padding: 0.25rem 1.25rem;">
                                <div class="media" style="width: 100%">
                                    <a style="width: 60px;" href="{{ path_for('childDetails', {child_id: child.child_id}) }}">
                                            <img class="rounded-circle" width="100%" src="{{ child.child_avatar_url|default('/images/avatar.png') }}" alt="Child image">
                                        </a>
                                    <div class="media-body ml-2">
                                        <div class="child-list-info">
                                            <h6 class="mt-2 mb-1">
                                                    <a href="{{ path_for('childDetails', {child_id: child.child_id}) }}">{{ child.child_name }}</a>
                                                    {% if child.child_gender == 'M' %}
                                                        <span class="fa-stack fa-sm">
                                                            <i class="fa fa-circle fa-stack-2x badge-male"></i>
                                                            <i class="fa fa-mars fa-stack-1x fa-inverse"></i>
                                                        </span>
                                                    {% endif %}
                                                    {% if child.child_gender == 'F' %}
                                                        <span class="fa-stack fa-sm">
                                                            <i class="fa fa-circle fa-stack-2x badge-female"></i>
                                                            <i class="fa fa-venus fa-stack-1x fa-inverse"></i>
                                                        </span>
                                                    {% endif %}
                                                </h6>
                                                {% if school.country_id == "US" %}
                                                    <p><span class="text-muted">Birthday: </span>{{ child.child_birthday|date("d-m-Y") }}</p>
                                                {% else %}
                                                    <p><span class="text-muted">Birthday: </span>{{ child.child_birthday }}</p>
                                                {% endif %}
                                        </div>
                                        <div class="child-list-options">
                                            <div class="btn-group dropleft">
                                                    <button style="border-color: transparent;" class="btn btn-sm btn-secondary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                      <i class="fa fa-ellipsis-h"></i>
                                                    </button>
                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                      <a class="dropdown-item" href="{{ path_for('attendanceInsightsReport', {'year': current_year, 'month': current_month, 'child_id': child.child_id}) }}">Attendance Calendar</a>
                                                    </div>
                                                  </div>
                                        </div>
                                        <div style="clear: both;"></div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
            {% endfor %}
        </div>
    {% endfor %}
{% else %}
    {% if search %}
        <p>No results. Sorry!</p>
    {% else %}
        <div class="col-lg-8 offset-lg-2">
            <div class="text-center mb-5">
                <img width="200" height="201" src="/images/tom.svg" alt="Background image">
            </div>
            <p class="lead">The pre-school administrator has not created any child profiles for this pre-school, yet.</p>
            <p class="lead">Let’s get started by creating the first child profile or ask your administrator to create one! You can then collaborate using all the wonderful features that TeachKloud has to offer.</p>
        </div>
    {% endif %}
{% endif %}
{% if archived_children %}
    <h4 class="mb-0">Archived Profiles</h4>
    <h6 class="mb-4 text-muted">Archived profiles are read-only.</h6>
    <div class="row d-flex flex-wrap mb-5">
        {% for child in archived_children %}
            <div class="col-4 col-lg-3">
                <div class="card align-self-stretch mb-4">
                    <div class="card-block text-center">
                        <a href="{{ path_for('childDetails', {child_id: child.child_id}) }}">
                            <img class="rounded-circle" width="50%" src="{{ child.child_avatar_url|default('/images/avatar.png') }}" alt="Child image">
                        </a>
                        <h5 class="mt-2">
                            <a href="{{ path_for('childDetails', {child_id: child.child_id}) }}">{{ child.child_name }}</a>
                            {% if child.child_gender == 'M' %}
                                <span class="fa-stack fa-sm">
                                    <i class="fa fa-circle fa-stack-2x badge-male"></i>
                                    <i class="fa fa-mars fa-stack-1x fa-inverse"></i>
                                </span>
                            {% endif %}
                            {% if child.child_gender == 'F' %}
                                <span class="fa-stack fa-sm">
                                    <i class="fa fa-circle fa-stack-2x badge-female"></i>
                                    <i class="fa fa-venus fa-stack-1x fa-inverse"></i>
                                </span>
                            {% endif %}
                        </h5>
                        <p><a href="{{ path_for('attendanceInsightsReport', {'year': current_year, 'month': current_month, 'child_id': child.child_id}) }}" class="btn btn-sm btn-info">Attendance Calendar</a></p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}
{% endblock %}
