{% extends 'master.default.html' %}

{% block body %}
<div class="row">
    <div class="col-lg-8 offset-lg-2">
        <h1>{{ title }}</h1>
        <br>
        <p>Please read the Consent carefully before sing in www.teachkloud.com website (the &quot;Service&quot;)</p>
        <br>
        <p>I am hereby consenting that Serenity Compliance, trading as TeachKloud can process my personal data for the purpose of TeachKloud services, direct marketing, image processing, video processing and also for third parties. The third parties are UploadCare and Digital Ocean.</p>
        
        <p>By posting Content to TeachKloud, you grant us the right and license to use, modify, perform, display, reproduce, and distribute such Content on and through TeachKloud which allows you to post, link, store, share and otherwise make available certain information, text, graphics, videos, or other material ("Content").</p>
        
        <p>I am aware and I was informed that I may withdraw my consent at any time. Should you choose to delete your account or withdraw consent, please contact us at support@teachkloud.com and we will follow up with such request as soon as possible.</p>


    </div>
</div>
{% endblock %}
