{% extends 'master.dashboard.html' %}

{% block body %}
<h4 class="mb-5">{{ title }}</h4>
<div class="col-lg-8 offset-lg-2">
    <div class="text-center mb-5">
        <img width="200" height="201" src="/images/tom.svg" alt="Backgroud image">
    </div>
    <p>
        Planning getting you down? We know you have so many different plans to make daily, weekly, monthly and even yearly. With TeachKloud you can create create plans in seconds.
    </p>
    <div>
        Create:
        <ul>
            <li>Daily plans</li>
            <li>Weekly plans</li>
            <li>Monthly plans</li>
            <li>Action plans</li>
            <li>Short term plans</li>
        </ul>
        <p>Streamline your planning, share with parents and view children's activities in one place.</p>
    </div>
</div>
{% endblock %}
