{% extends 'master.dashboard.html' %}

{% block body %}
<h4 class="mb-5">{{ title }}</h4>
<div class="container-fluid mb-4">
    <div class="row justify-content-end">
        <div class="col-12 col-md-auto">
            <form class="form-inline justify-content-center">
                <input class="form-control mr-2 col-8 col-sm-auto" type="searchResource" placeholder="Search in resources">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </div>
</div>
<p>The learning opportunities provided are <strong>guidelines</strong>. Some ideas are open-ended and some are structured. It may be beneficial to base learning opportunities on children’s interests, your professional knowledge and educational philosophy.</p>
<div class="row d-flex flex-wrap my-5">
    {% for resource in resources %}
        <div class="col-lg-3">
            <div class="card align-self-stretch">
                <a href="{{ path_for('resourceDetails', {resource_id: resource.resource_id}) }}">
                    <img width="100%" src="{{ resource.resource_thumbnail_url|default('/images/resource.png') }}" alt="Ressource image">
                </a>
                <div class="card-block">
                    <h5 class="mb-0"><a href="{{ path_for('resourceDetails', {resource_id: resource.resource_id}) }}">{{ resource.resource_name }}</a></h5>
                    <p class="text-muted small">{{ resource.resource_description }}</p>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
<a class="btn btn-primary" role="button" href="{{ path_for('resourceCreate') }}">Upload Resource</a>
{% endblock %}
