{% extends 'master.dashboard.html' %}

{% block body %}
  <!-- <script src="/javascripts/speechrecognition.js"></script>
      <script src="/javascripts/BingSpeech.js" type="text/javascript"></script> -->

  <h4 class="mb-5">{{ title }}</h4>
  <form method="post" action="{% if story_id %}{{ path_for('storyEdit', { story_id: story_id}) }}{% else %}{{ path_for('storyCreate', { child_id: child.child_id, draft_id: draft_id }) }}{% endif %}">
    {% if child %}
      <div class="card mb-4">
        <div class="card-block">
          <div class="row">
            <div class="col-12 col-lg-6">
              <div class="media"  id="top_sel_child">
                <img class="rounded-circle d-flex mr-3" width="50" height="50" id="selectChildImg" src="{{ child.child_avatar_url|default('/images/avatar.png') }}" alt="Child image">
                <div class="media-body">
                  Child
                  <h5>
                    <a href="{{ path_for('childDetails', { child_id: child.child_id }) }}">{{ child.child_name }}</a>
                  </h5>
                  <input type="hidden" name="child_id" value="{{child.child_id }}">
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-6 text-right">
              {% if story_id %}
                <a class="btn btn-outline-primary" href="{{ path_for('storyDetails', { story_id: story_id }) }}">Back to Story</a>
              {% else %}
                <a class="btn btn-outline-primary" href="{{ path_for('story', { child_id: child.child_id }) }}">Back to Stories</a>
              {% endif %}
              <button class="btn btn-primary" type="submit">Publish</button>
            </div>
          </div>
        </div>
      </div>
    {% elseif false %}
      <div class="card mb-4">
        <div class="card-header">
          Select the child you wish to write about
        </div>
        <div class="card-block">
          <div class="row">
            {% for child in children %}
              <div class="col-2">
                <img class="rounded-circle" width="80" height="80" src="{{ child.child_avatar_url|default('/images/avatar.png') }}" alt="Child image"><br>
                <label class="custom-control custom-radio">
                  <input type="radio" class="custom-control-input" name="child_id" value="{{ child.child_id }}" {% if preselected_child_id == child.child_id %} checked {% endif %} required>
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">{{ child.child_name }}</span>
                </label>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    <!-- {% else %}
      <div class="card mb-4">
        <div class="card-block">
          <div class="row">
            <div class="col-12 col-lg-6">
              <div class="media" id="top_sel_child">
                <img class="rounded-circle d-flex mr-3" width="50" height="50" id="selectChildImg" src="{{ child.child_avatar_url|default('/images/avatar.png') }}" alt="Child image">
                <div class="media-body">
                  Child
                  <h5>
                    <a href="" id="selectChild">Child</a>
                  </h5>
                </div>
              </div>
              <input id="children_list" name="child_id[]" type="hidden" value="">
            </div>
            <div class="col-12 col-lg-6 text-right">
              <button class="btn btn-primary" type="submit">Publish</button>
            </div>
          </div>
        </div>
      </div> -->
    {% endif %}
    <div class="card mb-4">
      <div class="card-block">
        <ul class="nav nav-pills nav-justified dont-replace mb-4" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#tab1" role="tab">Questions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#tab2" role="tab">Media</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#tab3" role="tab">Reflections</a>
          </li>

          {% for framework_id, framework in frameworks %}
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#framework{{ framework_id }}" role="tab">{{ framework.framework_name }}
                {% if framework.framework_month_min or framework.framework_month_max %}
                  {{ framework.framework_month_min }}
                  to
                  {{ framework.framework_month_max }}
                  months
                {% endif %}
                <span class="badge badge-primary hidden" data-recommendations-count data-recommendations-framework-id="{{ framework_id }}">0</span>
              </a>
            </li>
          {% endfor %}

        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="tab1" role="tabpanel">
            <div class="form-group">
              <label class="col-form-label" for="story_name">
                Name of learning story
              </label>
              <input type="text" class="form-control" name="story_name" id="story_name" value="{{ formdata.story_name }}" data-keyword-search required>
            </div>
            <div class="form-group">

              <label class="col-form-label" for="story_action_1">
                What am I doing?
                <small class="form-text text-muted">Include a short description of how I learn and develop. Photos can be attached in the next step.</small>
              </label>
              <!-- <div class="flright" >
                                                                      <button onclick="recordspeech('story_action_1','s1cspa')" type="button" class="uploadcare--widget__button uploadcare--widget__button_type_open tiny"><i class="fa fa-microphone"></i>  Record Speech</button>
                                                                      <button onclick="stopspeech()" type="button" class="uploadcare--widget__button uploadcare--widget__button_type_open tiny"><i class="fa fa-stop-circle"></i> Stop</button>
                                                                      <img class="voice_detect hidden" id="s1cspa"  src="/images/waiting.gif" alt="Waiting gif">
                                                                  </div> -->
              <textarea class="form-control" data-keyword-search id="story_action_1" name="story_action_1" rows="8">{{ formdata.story_action_1 }}</textarea>
            </div>
            <div class="form-group">
              <label class="col-form-label" for="story_action_2">
                What does this experience tell you about me?
                <small class="form-text text-muted">Think about my interests, dispositions, values and attitudes, skills, knowledge and my understanding. Link to Aistear themes, aims and learning goals.</small>
              </label>
              <!-- <div class="flright" >
                                                                      <button onclick="recordspeech('story_action_2','s2cspa')" type="button" class="uploadcare--widget__button uploadcare--widget__button_type_open tiny"><i class="fa fa-microphone"></i>  Record Speech</button>
                                                                      <button onclick="stopspeech()" type="button" class="uploadcare--widget__button uploadcare--widget__button_type_open tiny"><i class="fa fa-stop-circle"></i> Stop</button>
                                                                      <img class="voice_detect hidden" id="s2cspa"  src="/images/waiting.gif" alt="Waiting gif">
                                                                  </div> -->
              <textarea class="form-control" data-keyword-search id="story_action_2" name="story_action_2" rows="8">{{ formdata.story_action_2 }}</textarea>
            </div>
            <div class="form-group">
              <label class="col-form-label" for="story_action_3">
                What will we do next to support my learning?
                <small class="form-text text-muted">Think about how you can help me to learn more in ways that excite and interest me.</small>
              </label>
              <!-- <div class="flright" >
                                                                      <button onclick="recordspeech('story_action_3','s3cspa')" type="button" class="uploadcare--widget__button uploadcare--widget__button_type_open tiny"><i class="fa fa-microphone"></i>  Record Speech</button>
                                                                      <button onclick="stopspeech()" type="button" class="uploadcare--widget__button uploadcare--widget__button_type_open tiny"><i class="fa fa-stop-circle"></i> Stop</button>
                                                                      <img class="voice_detect hidden" id="s3cspa"  src="/images/waiting.gif" alt="Waiting gif">
                                                                  </div> -->
              <textarea class="form-control" data-keyword-search id="story_action_3" name="story_action_3" rows="8">{{ formdata.story_action_3 }}</textarea>
            </div>
            <div class="form-group">
              <label class="col-form-label" for="story_action_6">
                When will you do this?
                <small class="form-text text-muted"></small>
              </label>
              <!-- <div class="flright" >
                                                                      <button onclick="recordspeech('story_action_6','s6cspa')" type="button" class="uploadcare--widget__button uploadcare--widget__button_type_open tiny"><i class="fa fa-microphone"></i>  Record Speech</button>
                                                                      <button onclick="stopspeech()" type="button" class="uploadcare--widget__button uploadcare--widget__button_type_open tiny"><i class="fa fa-stop-circle"></i> Stop</button>
                                                                      <img class="voice_detect hidden" id="s6cspa"  src="/images/waiting.gif" alt="Waiting gif">
                                                                  </div> -->
              <textarea class="form-control" data-keyword-search id="story_action_6" name="story_action_6" rows="8">{{ formdata.story_action_6 }}</textarea>
            </div>
            <h4>
              <strong>List of emerging interests</strong>
            </h4>
            <small class="form-text text-muted">List emerging interests as observed from this learning story. At the end of the week, we will show you the most used keywords based on children's interests</small>
            <div class="form-group">
              <label class="col-form-label" for="keyword_1">
                Keyword 1:
              </label>
              <input type="text" class="form-control" name="keyword_1" id="keyword_1" value="{{ formdata.keyword_1 }}" data-keyword-search/>
            </div>
            <div class="form-group">
              <label class="col-form-label" for="keyword_2">
                Keyword 2:
              </label>
              <input type="text" class="form-control" name="keyword_2" id="keyword_2" value="{{ formdata.keyword_2 }}" data-keyword-search/>
            </div>
            <div class="form-group">
              <label class="col-form-label" for="keyword_3">
                Keyword 3:
              </label>
              <input type="text" class="form-control" name="keyword_3" id="keyword_3" value="{{ formdata.keyword_3 }}" data-keyword-search/>
            </div>
            <div class="form-group">
              <label class="col-form-label" for="keyword_4">
                Keyword 4:
              </label>
              <input type="text" class="form-control" name="keyword_4" id="keyword_4" value="{{ formdata.keyword_4 }}" data-keyword-search/>
            </div>
            <div class="form-group">
              <label class="col-form-label" for="keyword_5">
                Keyword 5:
              </label>
              <input type="text" class="form-control" name="keyword_5" id="keyword_5" value="{{ formdata.keyword_5 }}" data-keyword-search/>
            </div>

            <!-- {% include 'storyEyfs/storyCreateMulti.html' %} -->

          </div>


          <div class="tab-pane" id="tab2" role="tabpanel">
            <div class="form-group">
              <label class="col-form-label">Upload related photos (optional)</label>
              <input data-image-shrink="1600x1600" data-images-only="true" data-multiple="true" name="media" role="uploadcare-uploader" type="hidden">
            </div>
          </div>
          <div class="tab-pane" id="tab3" role="tabpanel">
            <p>The following answers are optional and can be helpful for internal purposes within your pre-school. Share as much as you need to your team as this section is
              <strong>never visible</strong>
              to parents.</p>
            <div class="form-group">

              <label class="col-form-label" for="story_reflection_1">Why did you carry out your role in this way?</label>
              <!-- <div class="flright" >
                                                                      <button onclick="recordspeech('story_reflection_1','sr1cspa')" type="button" class="uploadcare--widget__button uploadcare--widget__button_type_open tiny"><i class="fa fa-microphone"></i>  Record Speech</button>
                                                                      <button onclick="stopspeech()" type="button" class="uploadcare--widget__button uploadcare--widget__button_type_open tiny"><i class="fa fa-stop-circle"></i> Stop</button>
                                                                      <img class="voice_detect hidden" id="sr1cspa"  src="/images/waiting.gif" alt="Waiting gif">
                                                                  </div> -->
              <textarea class="form-control" id="story_reflection_1" name="story_reflection_1" rows="5">{{ formdata.story_reflection_1 }}</textarea>
            </div>
            <div class="form-group">
              <label class="col-form-label" for="story_reflection_2">What were the benefits of carrying out the interaction or activity in this way?</label>
              <!-- <div class="flright" >
                                                                      <button onclick="recordspeech('story_reflection_2','sr2cspa')" type="button" class="uploadcare--widget__button uploadcare--widget__button_type_open tiny"><i class="fa fa-microphone"></i>  Record Speech</button>
                                                                      <button onclick="stopspeech()" type="button" class="uploadcare--widget__button uploadcare--widget__button_type_open tiny"><i class="fa fa-stop-circle"></i> Stop</button>
                                                                      <img class="voice_detect hidden" id="sr2cspa"  src="/images/waiting.gif" alt="Waiting gif">
                                                                  </div> -->
              <textarea class="form-control" id="story_reflection_2" name="story_reflection_2" rows="5">{{ formdata.story_reflection_2 }}</textarea>
            </div>
            <div class="form-group">
              <label class="col-form-label" for="story_reflection_3">Could anything have been done differently to enhance learning experiences and interactions?</label>
              <!-- <div class="flright" >
                                                                      <button onclick="recordspeech('story_reflection_3','sr3cspa')" type="button" class="uploadcare--widget__button uploadcare--widget__button_type_open tiny" ><i class="fa fa-microphone"></i>  Record Speech</button>
                                                                      <button onclick="stopspeech()" type="button" class="uploadcare--widget__button uploadcare--widget__button_type_open tiny" ><i class="fa fa-stop-circle"></i> Stop</button>
                                                                      <img class="voice_detect hidden" id="sr3cspa"  src="/images/waiting.gif" alt="Waiting gif">
                                                                  </div> -->
              <textarea class="form-control" id="story_reflection_3" name="story_reflection_3" rows="5">{{ formdata.story_reflection_3 }}</textarea>
            </div>
            <div class="form-group">
              <label class="col-form-label" for="story_reflection_4">Were there any challenges?</label>
              <!-- <div class="flright" >
                                                                      <button onclick="recordspeech('story_reflection_4','sr4cspa')" type="button" class="uploadcare--widget__button uploadcare--widget__button_type_open tiny" ><i class="fa fa-microphone"></i>  Record Speech</button>
                                                                      <button onclick="stopspeech()" type="button" class="uploadcare--widget__button uploadcare--widget__button_type_open tiny" ><i class="fa fa-stop-circle"></i> Stop</button>
                                                                      <img class="voice_detect hidden" id="sr4cspa"  src="/images/waiting.gif" alt="Waiting gif">
                                                                  </div> -->
              <textarea class="form-control" id="story_reflection_4" name="story_reflection_4" rows="5">{{ formdata.story_reflection_4 }}</textarea>
            </div>
            <div class="form-group">
              <label class="col-form-label" for="story_reflection_5">What support do you need or who could help you?</label>
              <!-- <div class="flright" >
                                                                      <button onclick="recordspeech('story_reflection_5','sr5cspa')" type="button" class="uploadcare--widget__button uploadcare--widget__button_type_open tiny" ><i class="fa fa-microphone"></i>  Record Speech</button>
                                                                      <button onclick="stopspeech()" type="button" class="uploadcare--widget__button uploadcare--widget__button_type_open tiny"><i class="fa fa-stop-circle"></i> Stop</button>
                                                                      <img class="voice_detect hidden" id="sr5cspa"  src="/images/waiting.gif" alt="Waiting gif">
                                                                  </div> -->
              <textarea class="form-control" id="story_reflection_5" name="story_reflection_5" rows="5">{{ formdata.story_reflection_5 }}</textarea>
            </div>
          </div>
          {% for category_id, category in frameworks %}
            <div class="tab-pane" id="framework{{ category_id }}" role="tabpanel">
              <ul class="nav nav-tabs nav-justified" role="tablist">
                {% for framework_id, group_items in groups if framework_id == category_id %}
                  {% for group in group_items %}
                    <li class="nav-item">
                      <a class="nav-link {% if group_items|first == group %}active{% endif %}" data-toggle="tab" href="#framework{{ framework_id }}-{{ group|replace({ ' ': '' })|replace({ ',': '' }) }}" role="tab">{{ group }}
                        <span class="badge badge-primary hidden" data-recommendations-count data-recommendations-group-id="{{ group }}">0</span>
                      </a>
                    </li>
                  {% endfor %}
                {% endfor %}
              </ul>
              <div class="tab-content">
                {% for framework_id, group_items in groups if framework_id == category_id %}
                  {% for group in group_items %}
                    <div class="tab-pane {% if group_items|first == group %}active{% endif %}" id="framework{{ framework_id }}-{{ group|replace({ ' ': '' })|replace({ ',': '' }) }}" role="tabpanel">
                      {% for category_id, category in categories if group == category.category_group and framework_id == category.framework_id %}
                        <h5 class="mt-4">{{ category.category_name }}</h5>
                        <p class="lead">{{ category.category_description }}</p>
                        {% for goal in category.goals %}
                          <div>
                            <label class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" name="goals[]" value="{{ goal.goal_id }}" {% if goal.goal_id in formgoals %} checked {% endif %}>
                              <span class="custom-control-indicator"></span>
                              <span class="custom-control-description">
                                {% if goal.goal_keywords %}
                                  {% if frameworks[framework_id].framework_name == "EYFS" %}
                                    <span class="badge badge-primary hidden" data-keywords="{{ goal.goal_keywords }}" data-group-id="{{ group }}" data-framework-id="{{ framework_id }}" data-goal-id="{{ goal.goal_id }}" data-framework-name="{{ frameworks[framework_id].framework_name }}" title="Based on keywords: {{ goal.goal_keywords }}">Suggested</span>
                                  {% else %}
                                    <span class="badge badge-primary hidden" data-keywords="{{ goal.goal_keywords }}" data-group-id="{{ group }}" data-framework-id="{{ framework_id }}" data-goal-id="{{ goal.goal_id }}" title="Based on keywords: {{ goal.goal_keywords }}">Recommended
                                    </span>
                                  {% endif %}
                                {% endif %}
                                {{ goal.goal_description }}
                                {% if goal.goal_help %}&nbsp;
                                  <button class="btn btn-sm btn-secondary" role="button" data-container="body" data-toggle="popover" data-trigger="focus" title="Explanation" data-content="{{ goal.goal_help }}">
                                    <i class="fa fa-question"></i>
                                  </button>
                                {% endif %}
                              </span>
                            </label>
                          </div>
                        {% endfor %}
                        {% for text in category.texts %}
                          <div class="form-group">
                            <label class="col-form-label" for="text_{{ text.text_id }}">{{ text.text_title }}</label>

                            <textarea class="form-control" id="text_{{ text.text_id }}" name="texts[{{ text.text_id }}]" rows="5">{{ attribute(formtexts, text.text_id) }}</textarea>
                          </div>
                        {% endfor %}
                      {% endfor %}
                    </div>
                  {% endfor %}
                {% endfor %}
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="card mb-4">
      <div class="card-header">
        Optional Comment
      </div>
      <div class="card-block">
        <div
          class="form-group">
          <!-- <div class="flright" >
                                                  <button onclick="recordspeech('comment','cspa')" type="button" class="uploadcare--widget__button uploadcare--widget__button_type_open tiny"><i class="fa fa-microphone"></i>  Record Speech</button>
                                                  <button onclick="stopspeech()" type="button" class="uploadcare--widget__button uploadcare--widget__button_type_open tiny" ><i class="fa fa-stop-circle"></i> Stop</button>
                                                  <img class="voice_detect hidden" id="cspa"  src="/images/waiting.gif" alt="Waiting gif">
                                              </div> -->
          <p>This comment will appear separately in the child’s timeline.</p>

          <textarea class="form-control" data-keyword-search id="comment" name="comment" rows="4">{{ formdata.comment }}</textarea>
        </div>
        <label class="custom-control custom-checkbox">
          <input checked class="custom-control-input" name="public" type="checkbox" value="1">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Make this learning story visible to parents</span>
        </label>
      </div>
                <textarea class="form-control" name="comment" id="comment" rows="4" data-keyword-search>{{ formdata.comment }}</textarea>
            </div>
            <label class="custom-control custom-checkbox">
                <input type="checkbox" name="public" value="0" class="custom-control-input" {% if formdata.story_public == 1 %} checked {% endif %}>
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">Make this learning story visible to parents</span>
            </label>
        </div>
    </div>


    <input type="hidden" name="{{ csrf.keys.name }}" value="{{ csrf.name }}">
    <input type="hidden" name="{{ csrf.keys.value }}" value="{{ csrf.value }}">
  </form>

  <script type="text/javascript">

    /*var threshold = 3;
    var recommender = Recommender.init({{ user_id }}, {
        frameworks: [{{ framework_ids|join(', ') }}],
        input: null
    });*/

    var threshold = 3;

    function updateSuggestions(){
        var text = '',
        checkedGoals = [];
        $( '[data-recommendations-count]' ).html( '0' ).addClass( 'hidden' );

        $.each( $( '[data-keyword-search]' ), function () {
            text += ' ' + $( this ).val();
        } );

        text = ' ' + text.replace( /[ \n\r\t.,'\"\+!?]/g, ' ' ) + ' ';

        $.each( $( '[data-keywords]' ), function () {
            var $this = $( this ),
            goalId = $this.data( 'goal-id' ),
            keywords = $this.data( 'keywords' ).trim().split( /,\s?/ ),
            recommendIndex = 0;
            if($this.data('framework-name') == "EYFS")
                threshold = 2;

            var localThreshold = threshold;

            if ( checkedGoals.includes( goalId ) )
                return;

            keywords = keywords.filter( function ( el ) { return el != null; } );

            if ( keywords.length < 3 )
                localThreshold = 1;
            $.each( keywords, function () {
                var regex = new RegExp( " " + this + " ", 'gi' );
                var occurrences = ( text.match( regex ) || [] ).length;
                recommendIndex += Math.min( 2, occurrences );
            } );

            if($this.data('framework-name') == "EYFS" && recommendIndex > 0) {

                this.classList.remove('badge-info');
                this.classList.remove('badge-danger');
                this.classList.remove('badge-primary');

                if(recommendIndex == localThreshold) {
                this.classList.add('badge-primary');
                this.innerHTML = "Suggested";
                } else if(recommendIndex == 3) {
                this.classList.add('badge-info');
                this.innerHTML = "Possible match";
                } else if (recommendIndex > 3) {
                this.classList.add('badge-danger');
                this.innerHTML = "Perfect match";
                }
            }

            if ( recommendIndex >= localThreshold ) {
                var $groupRecommendationsCount = $( '#framework' + $this.data( 'framework-id' ) + ' [data-recommendations-group-id="' + $this.data( 'group-id' ) + '"]' );
                $groupRecommendationsCount.html( parseInt( $groupRecommendationsCount.html() ) + 1 ).removeClass( 'hidden' );
                var $frameworkRecommendationsCount = $( '[data-recommendations-framework-id="' + $this.data( 'framework-id' ) + '"]' );
                $frameworkRecommendationsCount.html( parseInt( $frameworkRecommendationsCount.html() ) + 1 ).removeClass( 'hidden' );
                $this.removeClass( 'hidden' );
            } else {
                $this.addClass( 'hidden' );
            }

            checkedGoals.push( goalId );
        } );
    }

    function suggestGoalsBasedOnKeywords() {
        $( '[data-keyword-search]' ).on( 'keyup paste propertychange', updateSuggestions);
        updateSuggestions();
    }

    suggestGoalsBasedOnKeywords();

    document.getElementsByClassName('btn-primary')[0].addEventListener('click', () => {
        for (var i = 0; i < window.localStorage.length; i++) {
          //console.log(window.localStorage.key(i));
          if(/.*_.*_\d+/.test(window.localStorage.key(i))) {
            window.localStorage.removeItem(window.localStorage.key(i));
          }
        };
      });
    /*var textareas = document.querySelectorAll('textarea');

    //recommender.recommendAndMark("text goes here");
    for(var i=0; i<textareas.length; i++){
        var area = textareas[i];
        var a = Autocompletion.init({{ user_id }}, area, {
            onValueChange: function(a){
                doKeywordSearch({
                    autocomplete: a
                })
            }
        });
    }*/

    {% if mode == 'create' %}    
        function autosave(field, data){
            console.log(data);
            $("#autosave-text").text("Saving...");
            var stringData = JSON.stringify( data );
            $.ajax({
                url: "{{ path_for('storyAutosave', { 'draft_id': draft_id } )}}",
                type: "POST",
                data: 
                { 
                    field: field,
                    data: stringData,
                    {{ csrf.keys.name }}: "{{ csrf.name }}",
                    {{ csrf.keys.value }}: "{{ csrf.value }}"
                },
                success: function(res){
                    $("#autosave-text").text("Saved");
                },
                error: function(err){
                    console.log(err);
                }
            });
        }
        
        var timeoutId;  
        function resetTimeout(field, data){
            $("#autosave-text").text("Saving...");
            if (timeoutId) 
                clearTimeout(timeoutId);
            timeoutId = setTimeout(function () {
                autosave(field, data);
                timeoutId = null;
            }, 2000);
        }

        $("[name='public']").change(function () {
            data = {};
            data.goal_id = this.value;
            data.is_checked = $(this).is(":checked");
            autosave("public", data);
        });

        $("[name='story_name']").keyup(function () {
            data = {};
            data.value = this.value;
            resetTimeout("name", data);
        });

        $("[name='story_name']").focusout(function() {
            if(timeoutId){
                clearTimeout(timeoutId);
                timeoutId = null;
                data = {};
                data.value = this.value;
                autosave("name", data);
            }
        });

        $("[name='comment']").keyup(function () {
            data = {};
            data.value = this.value;
            resetTimeout("comment", data);
        });

        $("[name='comment']").focusout(function() {
            if(timeoutId){
                clearTimeout(timeoutId);
                timeoutId = null;
                data = {};
                data.value = this.value;
                autosave("comment", data);
            }
        });

        $(".story-column").keyup(function () {
            data = {};
            data.value = this.value;
            data.column = $(this).attr("name");
            resetTimeout("column", data);
        });

        $(".story-column").focusout(function() {
            if(timeoutId){
                clearTimeout(timeoutId);
                timeoutId = null;
                data = {};
                data.value = this.value;
                data.column = $(this).attr("name");
                autosave("column", data);
            }
        });

        $("input[name='story_type']").click(function () {
            data = {};
            data.value = this.value;
            autosave("story_type", data);
        });

        $("[name^='keyword_']").keyup(function () {
            data = {};
            data.value = this.value;
            data.id = $(this).attr('id');
            resetTimeout("keyword", data);
        });

        $("[name^='keyword_']").focusout(function () {
            if(timeoutId){              
                clearTimeout(timeoutId);
                timeoutId = null;
                data = {};
                data.value = this.value;
                data.id = $(this).attr('id');
                autosave("keyword", data);
            }
        });

        $("[name='child[]']").change(function () {
            data = {};
            data.assoc_id = this.value;
            data.type = 'child';
            data.is_checked = $(this).is(":checked");
            autosave("assoc", data);
        });

        $("[name='room[]']").change(function () {
            data = {};
            data.assoc_id = this.value;
            data.type = 'room';
            data.is_checked = $(this).is(":checked");
            autosave("assoc", data);
        });

        $("[name='goals[]']").change(function () {
            data = {};
            data.goal_id = this.value;
            data.is_checked = $(this).is(":checked");
            autosave("goal", data);
        });

        var multipleWidget = uploadcare.MultipleWidget('[role=uploadcare-uploader]');
        multipleWidget.onUploadComplete(function (group) {
            data = {};
            data.value = group.cdnUrl;
            autosave("media", data);
        });

    {% endif %}
</script>
{% endblock %}
